body{
    color: white;
    background-color: #333;
}

header{
    background:rgb(0, 0, 0);
}

a{
    color: #e30052;
}

.color{
background-color: rgb(17, 8, 8);
border-color: cornsilk;
}
